@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

html {
    font-family: 'Noto Sans Georgian';
}

header, main, footer, section {
    display: flex;
    justify-content: center;
    height: 400px;
}
.container {
    width: 80%;
    height: 100%;
}

.logo {
    width: 70px;
    height: 70px;
}

.display_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}