.activity {
    .container {
        .activity_left {
            width: 33%;
            height: 100%;
            background-color: yellowgreen;
        }

        .activity_center {
            width: 34%;
            height: 100%;
            background-color: burlywood;
        }

        .activity_right {
            width: 33%;
            height: 100%;
            background-color: aqua;
        }
    }
}