.header {
    width: 100%;
    height: 84px;
    background: radial-gradient(circle at -1% 57.5%, rgb(9, 88, 42) 0%, rgb(0, 45, 19) 90%);
    padding: 12px 0;
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
    box-shadow: 3px -7px 40px 0px rgb(0, 0, 0);
    color: #fff;

    .left {
        width: 35%;
        height: 100%;
        justify-content: left;
    }

    .display_flex .logo {
        margin-bottom: 9px;
    }

    .right {
        width: 65%;
        height: 100%;
        justify-content: right;

        nav {
            display: flex;
            align-items: center;
        }
        /* ნავიგაცია START*/
        .nav__item {
            display: inline-block;
            margin-left: 15px;
        }

        .nav__link {
            text-decoration: none;
            font-style: normal;
            color: inherit;
        }

        .language {
            margin-left: 20px;
            width: 20px;
            height: 20px;
        }

        .language_change {
            width: 100%;
            height: 100%;
        }
        /* ნავიგაცია END*/
    }
}